<div class="basket-page">
  <h2>Корзина:</h2>

<div  class="basket-page_empty" *ngIf="basketService.basketDevices.length === 0">
  <h2>Товаров пока нет</h2>
  <h2 class="basket-page_link" routerLink="/shop">К покупкам</h2>
</div>


<div  *ngIf="basketService.basketDevices as devices ">
    <div *ngFor="let device of devices">
      <div class="basket-page_device">
        <img [src]="url + device.img" alt="device.id">
        <h3>{{device.name}}</h3>
        <h3>{{device.price}} руб.</h3>
        <button (click)="basketService.removeDevice(device.id)">Удалить</button>
      </div>
    </div>
  </div>
  <div class="total-price" *ngIf="sum">
    <h3>Общая сумма: {{sum}} руб.</h3>
    <button>К оформлению</button>
  </div>
</div>
