.header {
  display: flex;
  align-items: center;
  height: 80px;
  background: crimson;
  .header-container-log,
  .header-container-unlog{
    display: flex;
    width: 70%;
    margin-left: 15%;
    justify-content: space-between;
    align-items: center;
    color: azure;
    h3 {
      text-decoration: none;
      cursor: pointer;
    }
    h3:visited {
      color: azure;
    }
    .login {
      display: flex;
      h3 {
        margin: 5px;
      }
    }
  }
}

